<div class="container">
    <h1>{{title}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolorem debitis, ipsam esse veritatis rem dicta quia, doloremque illum magnam laboriosam, ut. Itaque ut eaque iusto, accusamus atque. In laboriosam iusto perferendis laborum nesciunt cumque magnam delectus similique ea, quis voluptatum voluptatibus assumenda, ullam earum, voluptate ipsum at a minima doloremque, reprehenderit quisquam architecto? </p>
    <p>some more stuffs..</p>
</div>
